[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.1"
gunicorn = "==19.9.0"
jinja2 = "==2.10.1"
markupsafe = "==1.1.1"
werkzeug = "==0.15.5"
numpy = ">=1.9.2"
scipy = ">=0.15.1"
scikit-learn = ">=0.18"
pandas = ">=0.19"

[dev-packages]

[requires]
python_version = "3.9"
